.blog-wrapper {
    text-align: center;
    background-color: #fff;
    padding: 24px;    
    .posts-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 24px;
        text-align: left;
        justify-items: center;
    }   
    .btn-show-more {
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        line-height: 15px;
        padding: 8.52px 65px 7.48px;
        margin-top: 29px;
        border: none;
        border-radius: 18px;
        background-color: #F27623;
        cursor: pointer;
    }
    @media screen and (max-width: 576px) {
        padding: 16px;
        .posts-wrapper {
            gap: 18px;
        }
    }
}